<h1>Create Article</h1><hr>
<%= form_with scope: :article, url: articles_path, local: true do |f| %>
<% if @article.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
	<p>
	<%= pluralize(@article.errors.count, "error") %> prohibited
	this article from being saved:
	</p>
	<ul>
		<% @article.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>
<p>
	<%= f.label :title, :class => "sr-only" %><br>
	<%= f.text_area :title ,:class => "form form-control", placeholder: "Title"%>
</p>
<p>
	<%= f.label :text, :class => "sr-only" %><br>
	<%= f.text_area :text, :class => "form-control", placeholder: "Text" %>
</p>
<p>
	<%= f.submit :class => "btn btn-primary" %>
</p>
<% end %>